# standard ignores
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.ccache/
.config/
!.config/roxterm.sourceforge.net
.config/roxterm.sourceforge.net/Searches/
.gem/
.gnome/
.history
.ICEauthority
.lesshst
.local/
.mono/
.pki/
.ssh/
.vagrant.d/
.vim/.netrwhist
.viminfo
.xsel.log
.zcompdump
.zcompdump.zwc
Desktop/
Documents/
Downloads/
Music/
Pictures/
Public/
Templates/
Videos/

# specific to my personal workflow
dev/
