# standard ignores
.ICEauthority
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.ccache/
.cinderclient/
.config/*
!.config/hexchat/
.config/hexchat/scrollback/
.config/hexchat/servlist.conf
!.config/roxterm.sourceforge.net/
.config/roxterm.sourceforge.net/Searches
.debug/
.esd_auth
.gem/
.gimp-2.8/
.glanceclient/
.gnome/
.gnupg/
.history
.ipython/
.lesshst
.local/
.mono/
.mozilla/
.my.cnf
.mysql_history
.novaclient/
.pki/
.pylint.d/
.python_history
.ssh/
.supernova
.thumbnails/
.thunderbird/
.vagrant.d/
.vim/.netrwhist
.viminfo
.xchat/
!.xchat/*.conf
.chat/
.xsel.log
.zcompcache/
.zcompdump
.zcompdump.zwc
.zhistory
.zenmap/

Desktop/
Documents/
Downloads/
Music/
Pictures/
Public/
Templates/
Videos/

# specific to my personal workflow
dev/
