# standard ignores
.ICEauthority
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.ccache/
.cinderclient/
.config/*
!.config/roxterm.sourceforge.net/
.config/roxterm.sourceforge.net/Searches
.esd_auth
.gem/
.gimp-2.8/
.gnome/
.history
.lesshst
.local/
.mono/
.mozilla/
.my.cnf
.mysql_history
.novaclient/
.pki/
.pylint.d/
.python_history
.ssh/
.supernova
.thumbnails/
.thunderbird/
.vagrant.d/
.vim/.netrwhist
.viminfo
.xsel.log
.zcompdump
.zcompdump.zwc
.zenmap/

Desktop/
Documents/
Downloads/
Music/
Pictures/
Public/
Templates/
Videos/

# specific to my personal workflow
dev/
